/*---margins---*/
.m-xsm {
  margin: $xsmall !important;
}

.m-sm {
  margin: $small !important;
}

.m-md {
  margin: $medium !important;
}

.m-lg {
  margin: $large !important;
}

.m-xlg {
  margin: $xlarge !important;
}

.m-xsm-right {
  margin-right: $xsmall !important;
}

.m-sm-right {
  margin-right: $small !important;
}

.m-md-right {
  margin-right: $medium !important;
}

.m-lg-right {
  margin-right: $large !important;
}

.m-xlg-right {
  margin-right: $xlarge !important;
}

.m-xsm-left {
  margin-left: $xsmall !important;
}

.m-sm-left {
  margin-left: $small !important;
}

.m-md-left {
  margin-left: $medium !important;
}

.m-lg-left {
  margin-left: $large !important;
}

.m-xlg-left {
  margin-left: $xlarge !important;
}

.m-xsm-top {
  margin-top: $xsmall !important;
}

.m-sm-top {
  margin-top: $small !important;
}

.m-md-top {
  margin-top: $medium !important;
}

.m-lg-top {
  margin-top: $large !important;
}

.m-xlg-top {
  margin-top: $xlarge !important;
}

.m-xsm-bottom {
  margin-bottom: $xsmall !important;
}

.m-sm-bottom {
  margin-bottom: $small !important;
}

.m-md-bottom {
  margin-bottom: $medium !important;
}

.m-lg-bottom {
  margin-bottom: $large !important;
}

.m-xlg-bottom {
  margin-bottom: $xlarge !important;
}

/*---remove margins---*/
.marginless {
  margin: 0px !important;
}

.m-less-top {
  margin-top: 0px !important;
}

.m-less-bottom {
  margin-bottom: 0px !important;
}

.m-less-right {
  margin-right: 0px !important;
}

.m-less-left {
  margin-left: 0px !important;
}