
@mixin clearfix {
  &:after {
    display: table;
    content: '';
    clear: both;
  }
}

.float-right {
  @include clearfix;
  display: inline-block;
  float: right;
}

.float-left {
  @include clearfix;
  display: inline-block;
  float: left;
}


/*---horizontal and vertical centering---*/
.center {
  position: relative;
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}